.modal{
    width: 500px;
    height: 600px;
    border-bottom: 10px solid rgba(70, 163, 88, 1);
    
}
.titles{

}
.title{

}
.form{

}
.subtitle{

}
.link{

}
.buttonsubmit{

}
.googlefacebook{

}
.google{

}
.facebook{

}