.footer{


}
.garden-email{
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 1fr;
    background: rgba(251, 251, 251, 1);

}
.garden-item{

}
.garden-img{

}
.garden-title{

}
.garden-text{

}
.email-letter{

}
.email-title{

}
.form{

}
.form-input{

}
.form-button{

}
.email-text{

}
.logo-sect{
    background: rgba(70, 163, 88, 0.1);
    

}
.img{

}
.title{

}
.adress{

}
.adress-icon{

}
.adress-text{

}
.email-adress{

}
.email-icon{

}
.phone{

}
.phone-icon{

}
.phone-text{

}
.short-navig{
    background: rgba(251, 251, 251, 1);

}
.nav-item{

}
.nav-title{

}
.nav-link{

}
.navig-links{

}
.navig-group{

}
.navig-title{

}
.navig-icons{

}
.icon{

}
.ending{

}