.product-view-path{
margin: 36px 0px 43px 0px;
}
.product-view{
    
   display: grid; 
   grid-template-columns: 1fr 1fr;

 
}
.product-view-image{
  column-gap: 52px;
   display: flex;
    flex-direction: row;
     margin: 0px 0px 95px 0px;
}
.vertical-imges{
     
    width: 100px;
    display: flex;
    flex-direction: column;
  row-gap:15px ;

}
.vertical-img{
    width: 100%;
    height: 100px;
    cursor: pointer;
   overflow: hidden;
    

}

.vertical-img.active{
    border: 1px solid rgba(70, 163, 88, 1)
}
.big-image{
    width: 444px;
  height: 444px;
  padding: 25px;
 display: flex;
 flex-direction: column;
 

  
  
}
.big-image>.big-image-img{
    overflow: hidden;
}
.big-image>.big-image-img>img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1); 
    -o-transform: scale(1.1);
    transform: scale(1.2);
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.big-image>.big-image-icon{
width: 18px;
height: 18px;


}
.big-image>.big-image-img>img{
  width: 100%;
     -moz-transition: all .5s ease-out;
-o-transition: all .5s ease-out;
-webkit-transition: all .5s ease-out;
transition: all .5s ease-out;
}
.product-view-details{
    margin: 0px 0px 95px 0px;
  

}
.product-view-title{
font-weight: 700;
font-size: 28px;
line-height: 16px;
margin-bottom: 21px;
}
.price-rating{
    margin-bottom: 28px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.price-rating-price{
    font-weight: 700;
    font-size: 22px;
    line-height: 16px;
    color: var(--green-color);

}
.price-rating-rating{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}
.price-rating-rating-stars{
    margin-right: 8px;

}
.price-rating-rating-title{
    
}
.short-dect{
    

}
.subtitle{

    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
}
.short-dect-text{
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;

}
.product-size{

}
.size-choose{
    margin-top: 10px;
    display: flex;
    flex-direction:row;
    column-gap: 10px;
margin-bottom: 23px;
}
.size-choose-button{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid rgba(234, 234, 234, 1);
    color:rgba(114, 114, 114, 1);
    font-size: 18px;
    line-height: 16px;
    
}
.size-choose-button-active{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--green-color);
    font-weight: 700;
    color: var(--green-color);
    font-size: 18px;
    line-height: 16px;
}
.buy-now-buttons{
    display: flex;
    flex-direction: row;
  margin-bottom: 26px;

}
.buy-now-buttons>.main-button{
    width: 130px;
    height: 40px;
    margin-right: 10px;
}
.in-count{
width: 33px;
height: 38px;
border-radius: 50%;
background: var(--green-color);
color: blanchedalmond;
font-size: 28px;
line-height: 16px;
}
.in-count:hover{
    background: #2f7a3e;
}
.input-counter{
display: flex;
flex-direction: row;
margin-right: 26px;

}
.put-count{
    width: 53px;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    margin: auto;
}
.button-border{
    border: 1px solid rgba(70, 163, 88, 1);
    color:var(--green-color);
    border-radius: 6px;
    width: 130px;
    height: 40px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

}
.button-border:hover{
    border: 1px solid #ffebcd; 
    background: var(--green-color);
    color: blanchedalmond;
}
.favorite-button:hover{
     
     
      background:#2f7a3e;

}
.favorite-button{
    border: 1px solid rgba(70, 163, 88, 1); 
    border-radius: 6px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
}
.addition-data{
color: rgba(114, 114, 114, 1);
 font-size: 18px;
line-height: 16px;
}
.addition-data>p>span{
    color: rgb(87, 86, 86);  
    margin-left: 10px;
}
.addition-data>p:not(:last-child){
    margin-bottom: 10px;
}

.share{
    margin-top: 18px;
    display: flex;
    flex-direction: row;

}
.share-icons{
    margin-left: 16px;

}
.share-icon:not(:last-child){
    margin-right:16px ;
}
.product-view-descriptions{
grid-column-start: 1;
    grid-column-end:3 ;
}

.product-view-descriptions>p{ 
    font-size: 14px;
    line-height: 24px;
    color: rgba(114, 114, 114, 1);
    margin: 18px 0px 18px 0px;
 }
.titlles{
display: flex;
flex-direction: row;
column-gap: 30px;
color: rgba(61, 61, 61, 1);

}
.subtitle-description{
 font-size: 17px;
line-height: 16px;
font-weight: 400; 
padding-bottom: 12px; 
cursor: pointer;

}
.subtitle-description-active{
    color: var(--green-color);
    font-weight: 700;
    border-bottom: 1px solid var(--green-color);
}
