.product-view-path{
margin: 36px 0px 43px 0px;
}
.product-view{
    
   display: grid; 
   grid-template-columns: 1fr 1fr;
 
 
}
.product-view-image{
  column-gap: 52px;
   display: flex;
    flex-direction: row;
}
.vertical-imges{
     
    width: 100px;
    display: flex;
    flex-direction: column;
  row-gap:15px ;

}
.vertical-img{
    width: 100%;
    height: 100px;
    cursor: pointer;
   overflow: hidden;
    

}

.vertical-img.active{
    border: 1px solid rgba(70, 163, 88, 1)
}
.big-image{
    width: 444px;
  height: 444px;
  padding: 25px;
 display: flex;
 flex-direction: column;
 

  
  
}
.big-image>.big-image-img{
    overflow: hidden;
}
.big-image>.big-image-img>img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1); 
    -o-transform: scale(1.1);
    transform: scale(1.2);
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.big-image>.big-image-icon{
width: 18px;
height: 18px;


}
.big-image>.big-image-img>img{
  width: 100%;
     -moz-transition: all .5s ease-out;
-o-transition: all .5s ease-out;
-webkit-transition: all .5s ease-out;
transition: all .5s ease-out;
}
.product-view-details{
  

}
.product-view-title{

}
.price-rating{

}
.price-rating-price{

}
.rprice-rating-rating{

}
.price-rating-rating-stars{

}
.price-rating-rating-title{
    
}
.short-dect{

}
.subtitle{

}
.short-dect-text{

}
.product-size{

}
.size-choose{

}
.size-choose-button{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid rgba(234, 234, 234, 1);
    color:rgba(114, 114, 114, 1);
    
}
.buy-now-buttons{

}
.button-border{
    border: 1px solid rgba(70, 163, 88, 1);
    color:var(--green-color)

}
.favorite-button{
    border: 1px solid rgba(70, 163, 88, 1); 
}
.addition-data{

}
.share{

}
.share-icons{

}
.product-view-descriptions{
grid-column-start: 1;
    grid-column-end:3 ;
}

.product-view-descriptions>p{
 }
.titlles{

}
.subtitle-description{
   

}